#navigation {
	border-bottom: 2px solid #000;
	overflow-y: hidden;
	background: url('../img/Sitemap.jpg') 0 0 repeat;
}
#navigation h1 {
	font-size: 2.5em;
	float: left;
	margin: 10px 10px 0 10px;
}

#navigation img {
	float: left;
}

#navigation ul {
	width: 40%;
	float: right;
	margin-top: 20px;
}

#navigation li {
	float: left;
	width: 30%;
	text-align: center;

}


.infoForm {
	color: #fff;
	width: 30%;
	float: left;
	margin-left: 2%;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 10px;
	font-weight: bold;
	padding: 10px;
}


.formHolder {
	width: 100%;
	background: none;
	
}

.randomizer {
	margin: 10px auto;

}

#eventHolder {
	width: 90%;
	margin: 30px auto;
	
}

#eventDesc {
	width: 60%;
	float: left;
}

#eventDesc h1 {
	font-size: 2em;
}

#eventLoc {
	width: 30%;
	float: right;
}

#eventHolder img {
	width: 300px;
	height: 160px;
	margin: 10px;
	margin-left: 0;
	float: left;
}

.description {
	margin-top: 10px;
	line-height: 1.4em;
}

.locName {
	font-size: 1.2em;
	font-weight: bold;
}


#formHolder {
	width: 100%;
	background: url('../img/hang_out3.jpg') 0 0 no-repeat;
	overflow: auto;
	background-size: 100%;
	margin: 0 auto;
	padding: 20px;
}

#mapps{
	width: 100%;
	height: 250px;
	border: 0;
}

#mapOut {
	width: 100%;
	border: 0;
	margin: 10px auto;
}



@media screen and (max-width: 480px) {
#navigation h1 {
	font-size: 2.5em;
	float: right;
	margin: 10px 10px 0 0;

}

#navigation img {
	width:100%;
}

#navigation ul {
	margin-top: 0;
	padding: 10px;
	width: 100%;
	float: none;
	clear: both;
}

#navigation li {
	float: left;
	width: 30%;
	text-align: center;
}

#eventHolder {
	overflow-x: hidden;
}

#eventHolder img {
	width: 100%;
	margin: 10px;
	margin-left: 0;
	float: none;
}

.buttonHolder {
	width: 60%;
	margin: 0 auto;
}

.randomizer {
	width: 100%;
	margin: 0 auto;
}

}

@media screen and (max-width: 720px) {


.infoForm {
	width: 100%;
	float: none;
	margin: 0 auto;
}

#formHolder {
	width: 100%;
	background: none;
	overflow: auto;
	background-size: 100%;
	margin: 20px auto;
	padding: 10px;

}

#mapps{
	width: 100%;
	height: 250px;
	border: 0;
}

#mapOut {
	width: 100%;
	border: 0;
	margin: 10px auto;
}

#eventHolder {
	overflow-y: auto;
}

#eventDesc {
	width: 100%;
	float: none;
	border-bottom: 2px solid #000;
	padding-bottom: 20px;
}

#eventLoc {
	width: 100%;
	float: none;
	margin-top: 20px;
}


}



